#bg {
    position: fixed;
    top: 0;
    z-index:-1;
}

.wrapper-content {
    text-align: right;
    padding-right: 32vw;
}

.content-page {
    display: inline-block;
    text-align: center;
    width: 780px;
}




.inline {
    display: inline-block;
}


.buttonpoll {
    outline: none;
    height: 25px;
    text-align: center;
    width: 130px;
    border-radius: 40px;
    background-color: rgba(255,255,255,0.8);
    border: 2px solid #1ECD97;
    color: #1ECD97;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.buttonpoll:hover {
    color: white;
    background: #1ECD97;
}
.buttonpoll:active {
    letter-spacing: 2px;
}

.top-data{
    padding: 20px;
    border-bottom: 2px solid #ccc;
    border-radius: 5px;
}

#questioncontainer {
    padding:30px;
}

.question {
    padding: 20px;
    border-bottom: 2px solid #ccc;
    border-radius: 5px;
}

.answerdiv {
    padding: 20px;
    border-bottom: 2px solid #ccc;
    border-radius: 5px;
}






